<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${header}"></title>
    <div th:replace="partials/styles"></div>
</head>
<body>
<div class="container">
    <h1 th:text="${header}"></h1>
    <div th:replace="partials/navigation"></div>

    <div th:if="${hasErrors}" th:text="${errorMessage}" class="alert alert-warning" role="alert"></div>

    <form method="post">

        <div class="row mb-3">
            <label for="title" class="col-md-4 col-lg-2 col-form-label">Write article title</label>
            <div class="col-md-8 col-lg-10">
                <input th:value="${article == null ? '' : article.getTitle()}" id="title" name="title"
                       placeholder="Write article title" class="form-control"/>
            </div>
        </div>

        <div class="row mb-3">
            <label for="category" class="col-md-4 col-lg-2 col-form-label">Select article category</label>
            <div class="col-md-8 col-lg-10">
                <select id="category" name="category" class="form-select">
                    <option th:each="item: ${categories}" th:text="${item}"
                            th:selected="${article != null && item == article.getCategory()}"></option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="content" class="col-md-4 col-lg-2 col-form-label">Write article content</label>
            <div class="col-md-8 col-lg-10">
                <textarea th:text="${article == null ? '' : article.getContent()}" id="content" name="content" rows="3"
                          placeholder="Write article content"
                          class="form-control"></textarea>
            </div>
        </div>

        <button class="btn btn-success">
            <i class="bi bi-plus-lg"></i> Save
        </button>
    </form>
    <div th:replace="partials/footer"></div>
</div>
<div th:replace="partials/scripts"></div>
</body>
</html>
