<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${header}"></title>
    <div th:replace="partials/styles"></div>
</head>
<body>
<div class="container">
    <h1 th:text="${header}"></h1>
    <div th:replace="partials/navigation"></div>

    <div th:if="${hasErrors}" th:text="${errorMessage}" class="alert alert-warning" role="alert"></div>

    <form method="post">

        <div class="row mb-3">
            <label for="name" class="col-md-4 col-lg-2 col-form-label">Write product name</label>
            <div class="col-md-8 col-lg-10">
                <input th:value="${product == null ? '' : product.getName()}" class="form-control" id="name" name="name"
                       placeholder="Write product name"/>
            </div>
        </div>

        <div class="row mb-3">
            <label for="category" class="col-md-4 col-lg-2 col-form-label">Select product category</label>
            <div class="col-md-8 col-lg-10">
                <select id="category" name="category" class="form-select">
                    <option th:each="item: ${categories}" th:text="${item}"
                            th:selected="${product != null && item == product.getCategory()}"></option>
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <label for="price" class="col-md-4 col-lg-2 col-form-label">Write product price</label>
            <div class="col-md-8 col-lg-10">
                <input th:value="${product == null ? '' : product.getPrice()}" id="price" name="price" type="number"
                       class="form-control" placeholder="Write product price"/>
            </div>
        </div>

        <div class="row mb-3">
            <label for="content" class="col-md-4 col-lg-2 col-form-label">Write product content</label>
            <div class="col-md-8 col-lg-10">
                <textarea th:text="${product == null ? '' : product.getContent()}" id="content" name="content" rows="3"
                          placeholder="Write product content"
                          class="form-control"></textarea>
            </div>
        </div>

        <div class="row mb-3">
            <label for="image" class="col-md-4 col-lg-2 col-form-label">Write product image url</label>
            <div class="col-md-8 col-lg-10">
                <input th:value="${product == null ? '' : product.getImage()}" id="image" name="image"
                       class="form-control" placeholder="Write product image url"/>
            </div>
        </div>

        <button class="btn btn-success">
            <i class="bi bi-plus-lg"></i> Save
        </button>
    </form>
    <div th:replace="partials/footer"></div>
</div>
<div th:replace="partials/scripts"></div>
</body>
</html>
