<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <div th:replace="partials/styles"></div>
</head>
<body>
<div class="container">
    <h1>Products</h1>
    <div th:replace="partials/navigation"></div>

    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_AUTHOR')" class="btn btn-success"
       href="/add-product">
        <i class="bi bi-plus-lg"></i> Add product
    </a>
    <hr/>
    <form>
        <div class="row">

            <div class="col">
                <div class="form-floating">
                    <input class="form-control min-width-200" id="pf" th:value="${priceFrom}" name="pf" type="number"
                           placeholder="Price from" min="1"/>
                    <label for="pf">Price from</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating">
                    <input class="form-control min-width-200" id="pt" th:value="${priceTo}" name="pt" type="number"
                           placeholder="Price to" min="1"/>
                    <label for="pt">Price to</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating">
                    <input class="form-control min-width-200" id="n" th:value="${name}" name="n"
                           placeholder="Search name"/>
                    <label for="n">Search name</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating">
                    <select id="c" name="c" class="form-select min-width-200">
                        <option th:each="item: ${categories}" th:text="${item}"
                                th:selected="${item == category}"></option>
                    </select>
                    <label for="c">Select category</label>
                </div>
            </div>

            <div class="col">
                <button class="btn mt-2 btn-primary">
                    <i class="bi bi-funnel-fill"></i> Filter
                </button>
                <a class="btn mt-2 btn-warning" href="/products">
                    <i class="bi bi-x-lg"></i> Clear
                </a>
            </div>

        </div>
    </form>
    <hr/>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col" th:each="item: ${items}">
            <div class="card">
                <img class="card-img-top" alt="" th:src="${item.getImage()}"/>
                <div class="card-body">
                    <h5 class="card-title">
                        <strong th:text="${item.getName()}"></strong>
                    </h5>
                    <p>Category: <span class="badge bg-success" th:text="${item.getCategory()}"></span></p>
                    <p>Price: <strong><span th:text="${item.getPrice()}"></span> PLN</strong></p>
                </div>
                <div class="card-footer">
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN')"
                       class="btn btn-sm btn-outline-danger mb-1" th:href="'/remove-product/' + ${item.getId()}">
                        <i class="bi bi-trash"></i> Remove
                    </a>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')"
                       class="btn btn-sm btn-outline-warning mb-1" th:href="'/edit-product/' + ${item.getId()}">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a class="btn btn-sm btn-outline-primary mb-1" th:href="'/show-product/' + ${item.getId()}">
                        <i class="bi bi-search"></i> Details
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="partials/footer"></div>
</div>
<div th:replace="partials/scripts"></div>
</body>
</html>
