<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getName()}"></title>
    <div th:replace="partials/styles"></div>
</head>
<body>
<div class="container">
    <h1 th:text="${product.getName()}"></h1>
    <div th:replace="partials/navigation"></div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-fluid rounded-start" alt="" th:src="${product.getImage()}"/>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">
                        <span th:text="${product.getName()}"></span>
                    </h3>
                    <p>Category: <span class="badge bg-success" th:text="${product.getCategory()}"></span></p>
                    <p>Price: <strong><span th:text="${product.getPrice()}"></span> PLN</strong></p>
                    <p>Created at: <span class="badge bg-light text-dark"
                                         th:text="${#temporals.format(product.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></span>
                    </p>
                    <p>Updated at: <span class="badge bg-light text-dark"
                                         th:text="${#temporals.format(product.getUpdatedAt(), 'dd-MM-yyyy HH:mm')}"></span>
                    </p>
                    <p>Content: <span th:text="${product.getContent()}"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="partials/footer"></div>
</div>
<div th:replace="partials/scripts"></div>
</body>
</html>
