<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <div th:replace="partials/styles"></div>
</head>
<body>
<div class="container">
    <h1>Blog!</h1>
    <div th:replace="partials/navigation"></div>

    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER', 'ROLE_AUTHOR')" class="btn btn-success"
       href="/add-article">
        <i class="bi bi-plus-lg"></i> Add article
    </a>
    <hr/>

    <form>
        <div class="row">

            <div class="col">
                <div class="form-floating">
                    <input class="form-control min-width-200" id="month" th:value="${month}" name="m" type="number"
                           placeholder="Write month" min="1"
                           max="12"
                           step="1"/>
                    <label for="month">Write month</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating">
                    <input class="form-control min-width-200" id="year" th:value="${year}" name="y" type="number"
                           placeholder="Write year" min="2020"
                           max="2050"
                           step="1"/>
                    <label for="year">Write year</label>
                </div>
            </div>

            <div class="col">
                <div class="form-floating">
                    <select class="form-select min-width-200" id="c" name="c">
                        <option th:each="item: ${categories}" th:text="${item}"
                                th:selected="${item == category}"></option>
                    </select>
                    <label for="c">Select category</label>
                </div>
            </div>

            <div class="col">
                <button class="btn mt-2 btn-primary">
                    <i class="bi bi-funnel-fill"></i> Filter
                </button>
                <a class="btn mt-2 btn-warning" href="/blog">
                    <i class="bi bi-x-lg"></i> Clear
                </a>
            </div>
        </div>
    </form>
    <hr/>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        <div class="col" th:each="item: ${items}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <strong th:text="${item.getTitle()}"></strong>
                    </h5>
                    <p>Category: <span class="badge bg-success" th:text="${item.getCategory()}"></span></p>
                </div>
                <div class="card-footer">
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN')" class="btn btn-sm btn-outline-danger mb-1"
                       th:href="'/remove-article/' + ${item.getId()}">
                        <i class="bi bi-trash"></i> Remove
                    </a>
                    <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')"
                       class="btn btn-sm btn-outline-warning mb-1" th:href="'/edit-article/' + ${item.getId()}">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <a class="btn btn-sm btn-outline-primary mb-1" th:href="'/show-article/' + ${item.getId()}">
                        <i class="bi bi-search"></i> Details
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="partials/footer"></div>
</div>
<div th:replace="partials/scripts"></div>
</body>
</html>
