<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.getTitle()}"></title>
    <div th:replace="partials/styles"></div>
</head>
<body>
<div class="container">
    <h1 th:text="${article.getTitle()}"></h1>
    <div th:replace="partials/navigation"></div>

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body">
                    <p>Category: <span class="badge bg-success" th:text="${article.getCategory()}"></span></p>
                    <p>Created at: <span class="badge bg-light text-dark"
                                         th:text="${#temporals.format(article.getCreatedAt(), 'dd-MM-yyyy HH:mm')}"></span>
                    </p>
                    <p>Updated at: <span class="badge bg-light text-dark"
                                         th:text="${#temporals.format(article.getUpdatedAt(), 'dd-MM-yyyy HH:mm')}"></span>
                    </p>
                    <p>Content: <span th:text="${article.getContent()}"></span></p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="partials/footer"></div>
</div>
<div th:replace="partials/scripts"></div>
</body>
</html>
